.createRoom__btn{
    display: block;
    margin-left: calc(100% - 64px);
    margin-top: -60px;
}

.createRoom__img{
    width: 64px;
    height: 64px;
}

.roomCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 880px){
    .cards{
        flex-direction: column;
    }
}