.deviceCard{
    position: relative;
    width: 350px;
    height: 200px;
    background-color: white;
    /*background-color: #3D3D40;*/
    border-radius: 7px;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgb(65, 65, 65);
    transition: 200ms;
    text-decoration: none;
    color: black;
}

.deviceCard .colorID{
    position: absolute;
    height: 100%;
    width: 20px;
    background: black;
    margin-bottom: 20px;
    border-radius: 0 0 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.deviceCard .deviceIMG{
    position: absolute;
    top: 5px;
    right: 20px;
    width: 64px;
    height: 64px;
}

.deviceCard .nome{
    margin-top: 60px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.deviceCard .locationID{
    position: absolute;
    bottom: 5%;
    font-size: 1em;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

.deviceCard:hover{
    width: 400px;
    height: 250px;
}

.deviceCard:hover .nome{
    font-size: 4em;
}

.deviceCard:hover .type{
    font-size: 2.5em;
}