.items{
    cursor: pointer;
    display: flex;
    width: auto;
    height: 48px;
    text-align: center;
    margin: 25px 0px;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
}

.items img{
    width: 24px;
    height: 24px;
    margin-left: 15px;
}

.items p{
    margin-left: 10px;
    margin-right: 70px;
    font-size: 24px;
    color: #7D7B7B;
}

.items:hover{
    background-color: #2d68fe60;
}

.items:hover p{
    color: #2D68FE;
}