/* Menu */
#menu ul{
    margin: 0%;
    background-color: darkred;
    list-style: none;
}

#menu ul li{
    margin: auto;
    display: inline;
}

#menu ul li#user{
    margin: auto;
    display: inline;
}

#menu ul li#add{
    margin: auto;
    display: inline;
}

#menu ul li#menu a{

    padding: 0% 2%;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#menu ul select{

    /* padding: 0% 2%; */
    display: inline-block;
    color: black;
    text-decoration: none;
}

#menu ul div#filtro_text{

    padding: 0% 1%;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#menu ul li#add{
    margin-left: 20%;
}

#menu ul li#user{
    margin-left: 10%;
    padding: 0% 3%;
}

#menu ul li#menu a:hover{
    color: darkblue;
}

/* Rodapé */
footer{
    color:white;
    text-align:center;
    font-style: italic;
}