body{
    background: rgb(180, 176, 176);
}

.device__header{
    width: 100%;
    height: 50%;
    background: #0a3871;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device__controls{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: flex-end;
}

.device__controls__btn{
    background-color: var(--branco);
    width: 100%;
    max-width: 160px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.device__controls__btn img{
    cursor: pointer;
    height: 90%;
}

.device__name__div{
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.device__name{
    font-size: 3rem;
    color: white;
    font-weight: bold;
}