body{
    background:rgb(30, 30, 30);
    font: normal 150% Arial;
    margin: 0%;
    padding: 0%;
}


/* Menu */
#menu ul{
    margin: 0%;
    background-color: darkred;
    list-style: none;
}

#menu ul li#menu{
    margin: auto;
    display: inline;
}

#menu ul li#imagem{
    margin: auto;
    display: inline;
}

#menu ul li#add{
    margin: auto;
    display: inline;
}

#menu ul li#menu a{

    padding: 0% 2%;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#menu ul li#add{
    margin-left: 38%;
}

#menu ul li#imagem{
    margin-left: 18%;
}

#menu ul li#menu a:hover{
    color: darkblue;
}

/* IMG Edit and Delete */
img#edit{
    margin-left: 85%;
    margin-right: 5%;
    cursor: pointer;
}

img#delete{
    cursor: pointer;
}


/* TV */
img#power_button{
    margin-right: 4%;
    margin-left: 1%;
    cursor: pointer;
}

img#source_button{
    margin-right: 4%;
    cursor: pointer;
}

img#menu_button{
    cursor: pointer;
}

label#source_button{
    margin-left: 1.5%;
}

label#menu_button{
    margin-left: 1.5%;
}

div#canal{
    margin-top: 1%;
}

img#up_button{
    margin-left: 1%;
    margin-right: 2.5%;
    cursor: pointer;
}

label#channel{
    font-size: 150%;
    color: rgb(9, 255, 0);
}

img#down_button{
    margin-left: 2.5%;
    cursor: pointer;
}

div#volume{
    margin-top: 1%;
}

img#down_button_volume{
    margin-left: 2.5%;
    cursor: pointer;
}

label#volume{
    font-size: 150%;
    color: rgb(9, 255, 0);
}

img#down_button_volume{
    margin-left: 0.8%;
}


/* Ventilador */
img#power_button{
    margin-right: 4%;
    margin-left: 1%;
    cursor: pointer;
}

img#invert_button{
    margin-right: 4%;
    cursor: pointer;
}

img#time_button{
    cursor: pointer;
}

label#invert_button{
    margin-left: 1.6%;
}

label#time_button{
    margin-left: 2.9%;
}

div#button_fan{
    margin-top: 1%;
}


div#button_up img#up_button{
    margin-left: 1%;
    margin-right: 2.5%;
    cursor: pointer;
}


div#button_down img#down_button{
    margin-left: 2.5%;
    cursor: pointer;
}

/* AIR */
div#button_air{
    margin-top: 1%;
}

label#temp{
    color: rgb(0, 255, 0);
    font-size: 150%;
}

img#sleep_button{
    margin-left: 4%;
    margin-right: 2.5%;
    cursor: pointer;
}

img#swing_button{
    margin-left: 2.5%;
    cursor: pointer;
}


label#sleep_button{
    margin-left: 3%;
    margin-right: 3%;
}

label#swing_button{
    cursor: pointer;
}


/* Estilo da pág de Créditos */

div#creditos{
    text-align: center;
    padding: 5%;
    font: normal 70pt Arial;
}
div#color1{
    color: rgb(0, 255, 0);
}
div#color2{
    color:slateblue;
}
div#name{
    color: rgb(255, 0, 0);
}
div#Icons{
    text-align: center;
    font: normal 60pt Arial;
    color: royalblue;
}


/* Cabeçalho */
header{
    padding: 10px;
    color: rgb(255, 0, 0);
    text-align:center;
}


/* Registros */
div#lista section{
    background: rgb(100, 100, 100);
    border-radius:10px;
    margin: 1.25% auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}


/* Criar Registros */
section#criar{
    background: white;
    border-radius:10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

section#section_user{
    background: white;
    border-radius:10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}


/* Cor dos textos de resultados dos registros */
span#div_valor{
    color: red;
}
span#valor{
    color: rgb(0, 255, 0);
}


/* Rodapé */
footer{
    color:white;
    text-align:center;
    font-style: italic;
}




/* Botão Liga/Desliga */

.liga-desliga__checkbox{
   position: absolute;
   left: -9999px; 
}

.liga-desliga__botao{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.liga-desliga__botao::before,
.liga-desliga__botao::after
{
    content: "";
    transition: all 0.4s ease;
}


.liga-desliga__botao::before{
    content: "";
    display: inline-block;
    width: 2em;
    height: 1em;
    background: red;
    border-radius: 1em;
}

.liga-desliga__botao::after{
    content: "";
    position: absolute;
    top: 0.025em;
    left: 0.025em;
    width: 0.95em;
    height: 0.95em;
    background: white;
    border-radius: 100%;
}

.liga-desliga__checkbox:checked + .liga-desliga__botao::before{
    background: greenyellow;
}

.liga-desliga__checkbox:checked + .liga-desliga__botao::after{
    left: 1.025em;
}
