body{
    background:rgb(30, 30, 30);
    font: normal 20pt Arial;
    margin: 0;
    padding: 0px;
}

#menu ul{
    margin: 0;
    background-color: darkred;
    list-style: none;
}

#menu ul li#menu{
    margin: auto;
    display: inline;
}

#menu ul li#imagem{
    margin: auto;
    display: inline;
}

#menu ul li#add{
    margin: auto;
    display: inline;
}

#menu ul li#menu a{

    padding: 0px 40px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#menu ul li#add{
    margin-left: 920px;
}

#menu ul li#imagem{
    margin-left: 100px;
}

#menu ul li#menu a:hover{
    color: darkblue;
}

div#creditos{
    text-align: center;
    padding: 5%;
    font: normal 70pt Arial;
}

div#color1{
    color: rgb(0, 255, 0);
}

div#color2{
    color:slateblue;
}

div#name{
    color: rgb(255, 0, 0);
}

div#Icons{
    text-align: center;
    font: normal 60pt Arial;
    color: royalblue;
}

header{
    padding: 10px;
    color: rgb(255, 0, 0);
    text-align:center;
}

section#itens{
    background: rgb(100, 100, 100);
    border-radius:10px;
    padding: 100px;
    width: 70%;
    margin: 20px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

footer{
    color:white;
    text-align:center;
    font-style: italic;
}

div#Status{
    color:chartreuse;
}

div#botao{
    margin-left: 100px;
}

/* Botão Liga/Desliga */

/* .liga-desliga__checkbox{
   position: absolute;
   left: -9999px; 
} */

.liga-desliga__botao{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.liga-desliga__botao::before,
.liga-desliga__botao::after
{
    content: "";
    transition: all 0.4s ease;
}


.liga-desliga__botao::before{
    content: "";
    display: inline-block;
    width: 2em;
    height: 1em;
    background: red;
    border-radius: 1em;
}

.liga-desliga__botao::after{
    content: "";
    position: absolute;
    top: 0.025em;
    left: 0.025em;
    width: 0.95em;
    height: 0.95em;
    background: white;
    border-radius: 100%;
}

.liga-desliga__checkbox:checked + .liga-desliga__botao::before{
    background: greenyellow;
}

.liga-desliga__checkbox:checked + .liga-desliga__botao::after{
    left: 1.025em;
}
