/* Registros */
main > section{
    background: rgb(100, 100, 100);
    border-radius:15px;
    margin: 1.25% auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

.item_header{
    padding: 20px 0;
    border-bottom: 2.5px solid rgb(30,30,30);
}

.item_header p{
    position: relative;
    display: inline-block;
    width: 80%;
    text-align: center;
    
}

.item_title{
    font-size: 55px;
    font-weight: bold;
}

.item_header div{
    position: relative;
    display: inline-block;
    width: 19%;
}

.item_header img{
    position: relative;
    cursor: pointer;
    width: 45px;
    height: 45px;
    padding: 0px 45px;
}

.item_header .item_location{
    font-size: 32px;
    color: white;
}

.items{
    border-bottom: 2.5px solid rgb(30,30,30);
}

.icons{
    position: relative;
    width: 64px;
    height: 64px;
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
}

.items > p{
    position: relative;
    width: calc(99% - 94px);
    display: inline-block;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 30px;
    vertical-align: top;
}

.contents{
    margin-left: 94px;
    position: relative;
    display: inline-block;
    width: calc(99% - 94px);
    text-align: center;
}

.contents > p{
    font-size: 38px;
    font-weight: bold;
    color: rgb(0, 255, 0);
}

/* Botão Liga/Desliga */

.liga-desliga__checkbox{
    position: absolute;
    left: -9999px; 
 }
 
 .liga-desliga__botao{
     display: inline-block;
     vertical-align: middle;
     position: relative;
     cursor: pointer;
 }
 
 .liga-desliga__botao::before,
 .liga-desliga__botao::after
 {
     content: "";
     transition: all 0.4s ease;
 }
 
 
 .liga-desliga__botao::before{
     content: "";
     display: inline-block;
     width: 2em;
     height: 1em;
     background: red;
     border-radius: 1em;
 }
 
 .liga-desliga__botao::after{
     content: "";
     position: absolute;
     top: 0.025em;
     left: 0.025em;
     width: 0.95em;
     height: 0.95em;
     background: white;
     border-radius: 100%;
 }
 
 .liga-desliga__checkbox:checked + .liga-desliga__botao::before{
     background: greenyellow;
 }
 
 .liga-desliga__checkbox:checked + .liga-desliga__botao::after{
     left: 1.025em;
}

.tv,.air{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 650px;
    height: 300px;
    border-radius: 15px;
    background: rgb(170,170,170);
    margin: 25px 0px;
}

.tv img,.air img{
    cursor: pointer;
}

figure{
    text-align: center;
    display: inline-block;
    margin: 20px 35px;
}

.tv_channel, .tv_volume, .air_temp{
    vertical-align: middle;
    display: inline-block;
    margin: 20px 35px;
}