/* Registros */
main > section{
    background: rgb(100, 100, 100);
    border-radius:10px;
    margin: 1.25% auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

li{
    margin: 10px 10px;
}

.icon{
    margin: 15px 15px;
}

.edit{
    margin-left: 85%;
    margin-right: 5%;
    cursor: pointer;
}

.delete{
    cursor: pointer;
}

/* TV */
img#power_button{
    margin-right: 4%;
    margin-left: 1%;
    cursor: pointer;
}

img#source_button{
    margin-right: 4%;
    cursor: pointer;
}

img#menu_button{
    cursor: pointer;
}

label#source_button{
    margin-left: 1.5%;
}

label#menu_button{
    margin-left: 1.5%;
}

div#canal{
    margin-top: 1%;
}

img#up_button{
    margin-left: 1%;
    margin-right: 2.5%;
    cursor: pointer;
}

label#channel{
    font-size: 150%;
    color: rgb(9, 255, 0);
}

img#down_button{
    margin-left: 2.5%;
    cursor: pointer;
}

div#volume{
    margin-top: 1%;
}

img#down_button_volume{
    margin-left: 2.5%;
    cursor: pointer;
}

label#volume{
    font-size: 150%;
    color: rgb(9, 255, 0);
}

img#down_button_volume{
    margin-left: 0.8%;
}


/* Ventilador */
img#power_button{
    margin-right: 4%;
    margin-left: 1%;
    cursor: pointer;
}

img#invert_button{
    margin-right: 4%;
    cursor: pointer;
}

img#time_button{
    cursor: pointer;
}

label#invert_button{
    margin-left: 1.6%;
}

label#time_button{
    margin-left: 2.9%;
}

div#button_fan{
    margin-top: 1%;
}


div#button_up img#up_button{
    margin-left: 1%;
    margin-right: 2.5%;
    cursor: pointer;
}


div#button_down img#down_button{
    margin-left: 2.5%;
    cursor: pointer;
}

/* AIR */
div#button_air{
    margin-top: 1%;
}

label#temp{
    color: rgb(0, 255, 0);
    font-size: 150%;
}

img#sleep_button{
    margin-left: 4%;
    margin-right: 2.5%;
    cursor: pointer;
}

img#swing_button{
    margin-left: 2.5%;
    cursor: pointer;
}


label#sleep_button{
    margin-left: 3%;
    margin-right: 3%;
}

label#swing_button{
    cursor: pointer;
}

/* Cor dos textos de resultados dos registros */
span#div_valor{
    color: red;
}
span#valor{
    color: rgb(0, 255, 0);
}







/* Botão Liga/Desliga */

.liga-desliga__checkbox{
    position: absolute;
    left: -9999px; 
 }
 
 .liga-desliga__botao{
     display: inline-block;
     vertical-align: middle;
     position: relative;
     cursor: pointer;
 }
 
 .liga-desliga__botao::before,
 .liga-desliga__botao::after
 {
     content: "";
     transition: all 0.4s ease;
 }
 
 
 .liga-desliga__botao::before{
     content: "";
     display: inline-block;
     width: 2em;
     height: 1em;
     background: red;
     border-radius: 1em;
 }
 
 .liga-desliga__botao::after{
     content: "";
     position: absolute;
     top: 0.025em;
     left: 0.025em;
     width: 0.95em;
     height: 0.95em;
     background: white;
     border-radius: 100%;
 }
 
 .liga-desliga__checkbox:checked + .liga-desliga__botao::before{
     background: greenyellow;
 }
 
 .liga-desliga__checkbox:checked + .liga-desliga__botao::after{
     left: 1.025em;
 }