.deviceForm{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--cor-card);
}

.deviceForm > input{
    height: 32px;
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--cor-borda);
    margin: 10px 0px;
    background-color: var(--cor-card);
    color: var(--cor-fonte);
}

.deviceForm > input::placeholder{
    color: var(--cor-fonte);
}

.deviceForm__footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0px;
}

.deviceForm__footer input{
    height: 54px;
    width: 140px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-fonte);
    cursor: pointer;
}

.deviceForm__footer input:hover{
    box-shadow: 3px 3px 3px var(--cor-sombra);
}

.deviceForm__submit{
    background-color: var(--cor-confirm);
}

.deviceForm__cancel{
    background-color: var(--cor-cancel);
}