.deviceCardModify{
    width: 100%;
    max-width: 600px;
    height: 172px;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
}

.deviceCardModify__main{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 104px;
}

select{
    width: 60px;
}

.teste2{
    width: 60px;
}

.teste{
    position: absolute;
    width: 48px;
    height: 48px;
}