body{
    background:rgb(30, 30, 30);
    font: normal 20pt Arial;
    margin: 0;
    padding: 0px;
}

#menu ul{
    margin: 0;
    background-color: darkred;
    list-style: none;
}

#menu ul li#menu{
    margin: auto;
    display: inline;
}

#menu ul li#imagem{
    margin: auto;
    display: inline;
}

#menu ul li#menu a{

    padding: 0px 40px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#menu ul li#imagem{
    margin-left: 1060px;
}

#menu ul li#menu a:hover{
    color: darkblue;
}

header{
    padding: 10px;
    color: rgb(255, 0, 0);
    text-align:center;
}

section{
    background: rgb(100, 100, 100);
    border-radius:10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

footer{
    color:white;
    text-align:center;
    font-style: italic;
}

div#Status{
    color:chartreuse;
}