body{
    background: rgb(180, 176, 176);
}

.deviceContent{
    position: absolute;
    margin-left: 94px;
    width: calc(100% - 94px);
    height: 100%;
}

.deviceContent h1{
    font-size: 5em;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.deviceCards{
    display: flex;
    margin-top: 60px;
    width: calc(100%-35px);
    height: auto;
    padding-left: 35px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.addDeviceBTN{
    position: absolute;
    right: 2%;
    bottom: 2%;
    cursor: pointer;
}