main{
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 90px;
    font-weight: bold;
    margin: 100px 0;
}

.name{
    color: rgb(255, 0, 0);
}

.color1{
    color: rgb(0, 255, 0);
}

.color2{
    color:slateblue;
}