body{
    background:rgb(30, 30, 30);
    font: normal 20pt Arial;
    margin: 0;
    padding: 0px;
    color: white;
}

#menu ul{
    margin: 0;
    background-color: darkred;
    list-style: none;
}

#menu ul li#menu{
    margin: auto;
    display: inline;
}

#menu ul li#imagem{
    margin: auto;
    display: inline;
}

#menu ul li#menu a{

    padding: 0px 40px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#menu ul li#imagem{
    margin-left: 1060px;
}

#menu ul li#menu a:hover{
    color: darkblue;
}

div#creditos{
    text-align: center;
    padding: 5%;
    font: normal 70pt Arial;
}

div#color1{
    color: rgb(0, 255, 0);
}

div#color2{
    color:slateblue;
}

div#name{
    color: rgb(255, 0, 0);
}

div#Icons{
    text-align: center;
    font: normal 60pt Arial;
    color: royalblue;
}

footer{
    margin: 4%;
    color:white;
    text-align:center;
    font-style: italic;
    font-size: 45px;
}
