.roomCardModify{
    width: 100%;
    max-width: 600px;
    height: 172px;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
}

.roomCardModify__main{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 104px;
}

.roomCardModify__color{
    padding: 0;
    border: none;
    height: 100%;
    border-top-left-radius: 7px;
    width: 40px;
    cursor: pointer;
}

.roomCardModify__color::-webkit-color-swatch-wrapper,.roomCardModify__color::-webkit-color-swatch{
    margin: 0;
    padding: 0;
    border: none;
    width: 40px;
    border-top-left-radius: 7px;
}

.roomCardModify__name{
    border: none;
    margin-left: 40px;
    font-size: 2rem;
    width: calc(100% - 80px);
    font-weight: bold;
    outline: none;
    color: #000;
}

.roomCardModify__name::placeholder{
    font-weight: bold;
    color: #000;
}

hr{
    margin: 0 0;
}

.roomCardModify__footer{
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.roomCardModify__footer img{
    cursor: pointer;
}