@font-face {
    font-family: Dancing Script;
    src: url('../../assets/DancingScript.ttf');
}

.footerComponent{
    text-align: center;
    margin: 30px;
}

.footerComponent p{
    font-family: 'Dancing Script';
    color: #FFFFFF;
    font-weight: bold;
    font-size: 70px;
}